body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header-item {

    background-color: rgba(255, 144, 14, 0.1);  
   

}

.nav h1 {
    
    font-size: 30px;
}

ul li {
    list-style: none;
    align-items: center;
    margin-right: 20px;
    font-size: 12px;
    width: 80px;

}

.nav ul {
    display: flex;
   
}

ul li a {
    text-decoration: none;
    color: black;
}


.nav {
    margin-top: 0px;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    
}


.brand-banner {
    text-align: center;
    padding: 40px;

}

.brand-info {
    text-align: center;
    margin-left: 400px;
    margin-right: 350px;
}

.brand-tittle {
    font-size: 60px;
    color: #131313;
    line-height: 75px;
    font-weight: 700;
    margin-top: 0px;
}

.brand-banner-info {
    font-size: 14px;
    color: #727272;
    margin-bottom: 30px;

}

.button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    margin-top: 20px;

}

.brand-banner img {
    width: 80%;
    height: 500px;
    margin: 5px 150px;
   border-radius: 8px;
    margin-top: 50px;
}
/* ------header style end--- */

/*------------------ team style star------------------ */
section{
    margin: 30px 40px;
}
.team{
   width: 80%;
   margin: 30px auto;
    display:flex;
   gap: 50px;

    
}
.mamber{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:20px;
    grid-row-gap:5px;
    margin-top: 25px;
    
}
.card{
    height: 250px;
    width: 280px;
  box-shadow: 0 0 5px gray;
    overflow: hidden;
    position:relative;
}

.card img{
    width:100%;
    height: 250px;
    transform: scale(1);
    display: block;
 transition: all 0.5s;
border-radius: 8px;
}
.card:hover img{
    transform: scale(1.05);
   
}
.team-detailes{
    width: 50%;
    margin-top: 60px;
    padding: 60px ;
}

.Features{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}
.Quick-list{
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.of-Our{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
/* ------------------team style end--------------------- */