body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.header-item {

    background-color: rgba(255, 144, 14, 0.1);  
   

}

.nav h1 {
    /* margin-top: 70px;   */
    font-size: 30px;
}

ul li {
    list-style: none;
    align-items: center;
    margin-right: 20px;
    font-size: 12px;
    width: 80px;

}

.nav ul {
    display: flex;
   
}

ul li a {
    text-decoration: none;
    color: black;
}


.nav {
    margin-top: 0px;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    
}


.brand-banner {
    text-align: center;
    padding: 40px;

}

.brand-info {
    text-align: center;
    margin-left: 400px;
    margin-right: 350px;
}

.brand-tittle {
    font-size: 60px;
    color: #131313;
    line-height: 75px;
    font-weight: 700;
    margin-top: 0px;
}

.brand-banner-info {
    font-size: 14px;
    color: #727272;
    margin-bottom: 30px;

}

.button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    margin-top: 20px;

}

.brand-banner img {
    width: 80%;
    height: 500px;
    margin: 5px 150px;
    /* background: url(group-three-modern-architects.jpg); */
    border-radius: 8px;
    margin-top: 50px;
}